[Unit]
Description=Write dhcp events to Rstat
After=syslog.target mariadb.service dnsmasq.service dhcpd.service
PartOf=dnsmasq.service

[Service]
Type=forking
ExecStart=/usr/local/scripts/dhcp-log.pl --start
PIDFile=/var/run/dhcp-log.pid
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
