[Unit]
Description=Write dhcp events to Eye
After=network.target mariadb.service dnsmasq.service dhcpd.service dhcp-log-truncate.service
Requires=dhcp-log-truncate.service

[Service]
Type=simple
User=eye
Group=eye
RuntimeDirectory=eye-dhcp
RuntimeDirectoryMode=0700
RuntimeDirectoryPreserve=yes
ExecStart=/opt/Eye/scripts/dhcp-log.pl
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
