[Unit]
Description=Write dhcp events to Rstat
After=network.target mariadb.service
Before=dnsmasq.service dhcpd.service

[Service]
Type=forking
ExecStartPre=/bin/mkfifo /var/spool/dhcp-log.socket
ExecStopPost=/bin/rm -f /var/spool/dhcp-log.socket
ExecStart=/usr/local/scripts/dhcp-log.pl --start
PIDFile=/var/run/dhcp-log.pid
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
