[Unit]
Description=Write dhcp events to Rstat
After=syslog.target mariadb.service dnsmasq.service

[Service]
Type=forking
ExecStart=/usr/local/scripts/dnsmasq-log.pl --start
Restart=always
PIDFile=/var/run/dnsmasq-log.pid

[Install]
WantedBy=multi-user.target
