[Unit]
Description=DNS caching server
After=network.target dhcp-log.service
PartOf=dhcp-log.service

[Service]
ExecStart=/usr/sbin/dnsmasq -k
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
