[Unit]
Description=NetFlow probe for %I
After=syslog.target network-online.target nfcapd@%i.service

[Service]
Type=forking
EnvironmentFile=/etc/fprobe/%i.conf
ExecStart=/bin/bash -axc ". /etc/fprobe/%i.conf; /sbin/fprobe ${OPTIONS}"
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW

[Install]
WantedBy=multi-user.target
