[Unit]
Description=Urgent sync access lists at mikrotik
After=mariadb.service syslog-ng.service

[Service]
Type=forking
ExecStart=/usr/local/scripts/stat-sync.pl --start
PIDFile=/var/run/stat-sync.pid
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
