[Unit]
Description=System Logger Daemon
Documentation=man:syslog-ng(8)

[Service]
Type=notify
ExecStart=/usr/sbin/syslog-ng -F -p /run/syslogd-ng.pid
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=null
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
