[Unit]
Description=Write syslog to Rstat
After=network.target mariadb.service syslog-ng.service
PartOf=syslog-ng.service

[Service]
Type=forking
ExecStart=/opt/Eye/scripts/syslog-stat.pl --start
PIDFile=/var/run/syslog-stat.pid
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
