[Unit]
Description=Write dhcp events to Rstat
After=network.target mariadb.service
Before=dnsmasq.service dhcpd.service

[Service]
Type=forking
ExecStart=/opt/Eye/scripts/dhcp-log.pl --start
PIDFile=/var/run/dhcp-log.pid
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
