body                            { font-family: tahoma; font-size: 12pt; color: #181818; margin: 0; background-color: #ffffff; }
img                             { border: 0; }

table                           { font-family: tahoma; font-size: 12pt; border-spacing: 1px; }
table.800                       { table; width: 800; }
table.300                       { table; width: 300; }
table.data                      { background-color: #cfcfcf; margin-bottom: 5px; }
table.info                      { background-color: #f8f2aa; margin-bottom: 5px; }

td                              { padding: 4px; border-bottom: 1px solid #ddd; }
td.data                         { background-color: #ffffff; }
td.info                         { background-color: #f8f2aa; }
td.up                           { background-color: #33ff99; }
td.down                         { background-color: #ffffff; opacity: .4; }
td.shutdown                     { background-color: #FF8033; }
td.error                        { background-color: #ff6666; }
td.nb                           { background-color: #ffcc99; }
td.warn                         { background-color: #ffcccc; }
td.speed10M                     { background-color: #ffff99; }
td.speed100M                    { background-color: #33cc33; }
td.speed1G                      { background-color: #58FA82; }
td.speed10G                     { background-color: #ffcc00; }
td.crc                          { background-color: #ff6666; }

input                           { font-family: tahoma; padding: 1px; }
textarea                        { font-family: tahoma; padding: 1px; }
select                          { font-family: tahoma; }

form                            { margin: 0; margin-top: 5px; }
.cont                           { font-family: tahoma; }

a                               { font-family: tahoma; color: #000000; text-decoration: underline; }
a.first_page_link               { border: 1px solid green; font-color: black; background-color: #A5FF33; padding: 3px; }
a:visited                       { color: #000000; text-decoration: underline; }
a:link                          { color: #000000; text-decoration: underline; }
a:active                        { color: #ed8b0d; text-decoration: none; }
a:hover                         { color: #ed8b0d; text-decoration: none; }

#navi                           { position: absolute; font-size: 12pt; top: 15px; left: 190px; }
#submenu                        { position: absolute; top: 55px; left: 20px; }
#title                          { position: absolute; top: 15px; left: 15px; font-size: 18pt; color: #ed8b0d; }
#subtitle                       { position: absolute; top: 43px; left: 15px; font-size: 8pt; }
#cont                           { position: absolute; top: 70px; left: 15px; background-color: url('img/vr.gif'); background-repeat: repeat-y; background-position: right; }
#copyright                      { margin-top: 10px; margin-bottom: 10px; }
#msg                            { font-size: 18pt; font-color: black; color: red; }

html                            { margin:0; padding:0; font-size:62.5%; }
h1                              { font-size:1.8em; }
.tree                           { overflow:auto; border:0px; }
