<?php

if (!defined("CONFIG"))die("Not defined");

$language="russian";
setlocale(LC_ALL, 'ru_RU.UTF8');

$style="white"; #css ctyle

/* MySQL settings */
$dbhost="localhost";
$dbname="database";
$dbuser="username";
$dbpass="password";

#$cacti_dbhost="cacti_host";
#$cacti_dbname="cacti";

$ipcam_group_id=5;

?>
