[Unit]
Description=Write dhcp events to Eye
After=network.target mariadb.service dnsmasq.service dhcpd.service dhcp-log-truncate.service
Requires=dhcp-log-truncate.service

[Service]
Type=forking
User=eye
Group=eye
RuntimeDirectory=eye
RuntimeDirectoryMode=0700
RuntimeDirectoryPreserve=yes
ExecStart=/opt/Eye/scripts/dhcp-log.pl --start
PIDFile=/run/eye/dhcp-log.pid
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
