[Unit]
Description=Clear dhcp.log before starting dhcp-log
Before=dhcp-log.service

[Service]
Type=oneshot
ExecStart=/usr/bin/truncate -s 0 /var/log/dhcp.log
User=root

[Install]
WantedBy=multi-user.target
